.quadros{
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    top: 0;
    right: 0;
}

.quadros .quadro{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: rgba(217, 217, 217, 0.01);
    box-shadow: -7px 4px 9px rgba(0, 0, 0, 0.5);
    border-radius: 33px;
}

#home .quadro:nth-child(1){
    top: -20%;
    right: -4%;
    z-index: 1;
}
#home .quadro:nth-child(2){
    top: 10%;
    right: 0%;
    z-index: 0;
}
#home .quadro:nth-child(3){
    top: 40%;
    right: -3%;
    z-index: 1;
}


#home .quadro:nth-child(4){
    top: 9%;
    right: 30%;
    z-index: 1;
}
#home .quadro:nth-child(5){
    top: 35%;
    right: 20%;
    z-index: 0;
}
#home .quadro:nth-child(6){
    top: 80%;
    right: 18%;
    z-index: 1;
}


#home .quadro:nth-child(7){
    top: 9%;
    left: -5%;
    z-index: 0;
}
#home .quadro:nth-child(8){
    top: 40%;
    left: 3%;
    z-index: 1;
}
#home .quadro:nth-child(9){
    top: 80%;
    left: -5%;
    z-index: 1;
}

#contato .quadro:nth-child(1){
    top: -30%;
    left: -5%;
    z-index: 1;
}
#contato .quadro:nth-child(2){
    top: 10%;
    left: -5%;
    z-index: 0;
}
#contato .quadro:nth-child(3){
    top: 40%;
    left: -5%;
    z-index: 1;
}

#contato .quadro:nth-child(4){
    top: 60%;
    left: 15%;
    z-index: 0;
}
#contato .quadro:nth-child(5){
    top: 90%;
    left: 20%;
    z-index: 1;
}

#contato .quadro:nth-child(6){
    top: 10%;
    right: 15%;
    z-index: 1;
}
#contato .quadro:nth-child(7){
    top: 30%;
    right: 22%;
    z-index: 0;
}
#contato .quadro:nth-child(8){
    top: 93%;
    right: -3%;
    z-index: 1;
}

#servico .quadro:nth-child(1){
    top: 10%;
    right: -3%;
    z-index: 1;
}
#servico .quadro:nth-child(2){
    top: 20%;
    right: 3%;
    z-index: 0;
}
#servico .quadro:nth-child(3){
    top: 35%;
    right: -3%;
    z-index: 1;
}
#servico .quadro:nth-child(4){
    top: 50%;
    right: 10%;
    z-index: 0;
}

#servico .quadro:nth-child(5){
    top: 10%;
    right: 40%;
    z-index: 1;
}
#servico .quadro:nth-child(6){
    top: 20%;
    right: 35%;
    z-index: 0;
}

#servico .quadro:nth-child(7){
    top: 40%;
    left: -3%;
    z-index: 1;
}
#servico .quadro:nth-child(8){
    top: 50%;
    left: 10%;
    z-index: 0;
}

#servico .quadro:nth-child(9){
    bottom: 5%;
    left: -3%;
    z-index: 1;
}
#servico .quadro:nth-child(10){
    bottom: -13%;
    left: 10%;
    z-index: 0;
}

#servico .quadro:nth-child(11){
    bottom: 20%;
    right: 25%;
    z-index: 1;
}
#servico .quadro:nth-child(12){
    bottom: 5%;
    right: 15%;
    z-index: 0;
}
#servico .quadro:nth-child(13){
    bottom: -6%;
    right: 0%;
    z-index: 1;
}
