@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: inherit;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type:y mandatory;
    overflow-x: hidden;
    background-color: #000000;
}

body{
    background: linear-gradient(207.91deg, #000000 21.59%, #3E3E3E 42.77%, #1B1B1B 67.55%);
    max-width: 1920px;
    margin: auto;
}

a:link{
    color: inherit;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #a9a9a9;
}

#barra{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    z-index: 100;
}

#barra .opcoes{
    display: flex;
    width: 40%;
    min-width: 550px;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#barra .opcoes a{
    position: relative;
    text-transform: capitalize;
}

#barra .opcoes a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 4px solid #ff9500;
    transition: .5s;
}

#barra .opcoes a:hover::after{
    width: 100%;
}

#home{
    position: relative;
    background: radial-gradient(161.8% 80.88% at 50% -27.09%, #FF9500 0.56%, #3B2C19 56.5%, #131313 100%);
    max-height: 1080px;
    border-bottom: 7px solid #FF9500;
    padding-bottom: 201px;
}

#home .texto{
    position: relative;
    width: 70%;
    height: calc(100% - 100px);
    top: 100px;
    min-width: auto;
    padding-top: 10%;
    padding-left: 10%;
    animation: aparecer 1.5s;
}

#home .texto h6{
    color: #FF9500;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 15px;
}
#home .texto p{
    margin-left: 50px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 20px;
}
#home .texto p .destaque{
    color: #E7BB48;
}
#home .texto a{
    display: block;
}
#home .texto .desc{
    font-weight: 900;
    font-size: 1.5rem;
    color: #CDCDCD;
    width: 80%;
    margin-bottom: 30px;
}
#home .texto .trabalho{
    font-weight: 900;
    font-size: 1.5rem;
    color: #FFFFFF;
    width: 80%;
    text-align: end;
}
#home .texto .trabalho .destaque{
    color: #FF9500;
}

#home .whatsapp{
    position: absolute;
    background-color: #0d9f16;
    background-image: url(img/whatsapp.png);
    background-position: center;
    background-repeat: no-repeat;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 10000px;
}

#contato{
    position: relative;
    /* height: 80vh; */
    max-height: 864px;
    padding: 8.5% 0;
    padding-right: 40%;
    padding-left: 5%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 7px solid #1B1B1B;
}


#contato .content{
    background: #d9d9d933;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 20px;
    color: #FFFFFF;
    height: 100%;
}

#contato .principal{
    padding: 5%;
    width: 50%;
}

#contato .secundaria{
    padding: 4% 2%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

#contato div p{
    font-weight: 900;
    font-size: 2rem;;
}
#contato div p:nth-child(2){
    margin: 20px 0;
    margin-left: 20px;
    font-weight: 700;
}

#contato div p .destaque{
    color: #FF9500;
    font-weight: 900;
}

#contato div a{
    background-color: #1B1B1B;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.5rem;;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 70%;
}
#contato div a img{
    max-height: 90%;
}

#contato .secundaria nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#sites{
    position: relative;
    background-image: radial-gradient(161.77% 81.11% at 40.34% -29.38%, #FF9500 0%, #3B2C19 56.5%, #131313 100%);
    font-family: 'Poppins', sans-serif;
}

#sites .fundo{
    position: absolute;
    background-image: url(img/fundo-rede.png);
    background-size: cover;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 0;
}

.titulo{
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: #CBCBCB;
}

.slide{
    display: flex;
    flex-direction: column;
    max-height: 900px;
    padding: 2.5% 10%;
}
.slider{
    position: relative;
    display: flex;
    height: 100%;
    margin-top: 20px;
    z-index: 1;
    overflow: hidden;
}

.slider .carritel{
    display: flex;
    position: relative;
    left: 0;
    transition: .5s;
}

.slider .categorias{
    display: flex;
    flex: none;
    flex-direction: column;
    background-color: #d9d9d933;
    backdrop-filter: blur(8px);
    color: #CBCBCB;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 14px 16px 18px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    z-index: 1;
    margin: 0 50px;
}

.slider .categorias .capa{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .categorias .capa img{
    width: 100%;
    object-fit: contain;
    max-height: 100%;
    border-radius: 20px;
    margin: auto;
}

.slider .categorias .texto{
    height: 100%;
}

.slider .categorias .texto h6{
    font-weight: 900;
    font-size: 2.5rem;;
    margin: 5% 0;
    margin-left: 10px;
}

.slider .categorias .texto p{
    font-size: 1.2rem;
    line-height: 24px;
}

.slider .categorias .mais{
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
}

.slider .categorias .mais::after{
    content: '>';
    margin-left: 5px;
}

.indexs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: white;
    z-index: 1;
}

.indexs .seta{
    font-size: 2rem;;
}

.indexs nav{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.indexs nav .index{
    margin: 0 5px;
    width: 20px;
}

.indexs nav .index input{
    display: none;
}

.indexs nav .index label{
    display: block;
    border: 2px solid white;
    border-radius: 10000px;
    aspect-ratio: 1 / 1;
    transition: background .3s;
}

.indexs nav .index input:checked + label{
    background-color: white;
}

#servico{
    position: relative;
}

#servico *{
    font-family: 'Poppins', sans-serif;
}

#servico .nos{
    height: 100vh;
    min-height: 1000px;
    max-height: 1080px;
    padding: 7% 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#servico .nos div{
    height: 90%;
    width: 35%;
    background-color: #d9d9d933;
    box-shadow: -8px 4px 11px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

#servico .nos div h1{
    color: #1B1B1B;
    font-weight: 900;
    font-size: 2.5rem;
}

#servico .nos div p{
    color: #000000;
    font-weight: 300;
    font-size: 1.5rem;;
    line-height: 36px;
    margin-top: 5%;
    margin-left: 5%;
}

#servico .nos div a{
    height: 100%;
    font-weight: 700;
    font-size: 1.3rem;;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

#servico .nos div ul{
    margin-top: 5%;
}

#servico .nos div ul li{
    position: relative;
    align-items: center;
    color: #000000;
    font-weight: 300;
    font-size: 1.5rem;;
    line-height: 36px;
    padding-left: 40px;
}

#servico .nos div ul li::before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 100px;
    background-color: #4e9a06;
}
#servico .nos div ul li::after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 5px;
    top: calc(50% - 3px);
    left: 7px;
    transform: rotate(-45deg) translateY(-50%);
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}


#servico .nos div ul li span{
    font-weight: 600;
    color: #FF9500;
}

#servico .avaliacoes{
    position: relative;
}



#servico .avaliacoes .slider .categorias{

}
#servico .avaliacoes .slider .categorias .capa{
    margin-bottom: 20px;
}
#servico .avaliacoes .slider .categorias h6{
    margin: 0;
}
#servico .avaliacoes .slider .categorias p{
    margin-left: 5%;
}


#servico .avaliacoes .indexs{
    margin: 2.5% 0;
}


#rodape{
    position: relative;
    background-color: #000000;
    display: flex;
    align-items:end;
    justify-content: center;
    padding: 25px 0;
    height: 125px;
    z-index: 5;
}

#rodape span{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 275;
    font-size: 1rem;;
}

#rodape .contato{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d9d9d926;
    backdrop-filter: blur(5.5px);

    border-image: linear-gradient(#cccccc,hsla(0, 0%, 80%, 0.511), #CCCCCC00) 40;
    border-width: 4px;
    border-style: solid;

    border-bottom: none;
    overflow: hidden;
    transition: height .5s;
}

#rodape .contato .barra{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 5px;
    margin: 40px auto;
}

#rodape .contato .bandeja{
    overflow: hidden;
    height: 0px;
    transition: .5s;
}

#rodape .contato:hover .bandeja{
    height: 200px;
}

#rodape .contato .bandeja .titulo{
    margin-bottom: 20px;
}

#rodape .contato .redes{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
}
#rodape .contato .redes a{
    background-color: #d9d9d91a;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

@media only screen and (max-width: 1300px) {

    html{
        font-size: 14px;
    }
    #home .texto{
        width: 80%;
    }

    #contato{
        padding: 8.5% 0;
    }

}

@media only screen and (max-width: 1024px) {
    #servico .nos {
        padding: 7% 1%;
    }
}

@media only screen and (max-width: 768px) {

    html{
        font-size: 12px;
    }
    body{
        background-color: #131313;
        background-image: none;
    }

    .quadros{
        display: none;
    }

    #home{
        height: 85vh;
        background-image: none;
        border-bottom: none;
    }
    #barra .opcoes{
        display: none;
    }
    #barra .logo{
        position: fixed;
        background: rgba(217, 217, 217, 0.15);
        backdrop-filter: blur(2px);
        border-radius: 0 0 25px 25px;
        padding: 20px;
        left: 0;
    }
    #home .whatsapp{
        width: 50px;
        height: 50px;
        background-size: 35px ;
    }

    #contato{
        display: none;
    }

    #sites{
        background-color: transparent;
        background-image: none;
    }
    #sites .fundo{
        display: none;
    }

    .slide{
        padding: 2.5% 0;
        height: 60vh;
    }
    .slider{
        background: rgba(217, 217, 217, 0.05);
        backdrop-filter: blur(5.5px);
        border-radius: 22px 22px 0px 0px;
    }
    .slider .categorias{
        background-color: transparent;
        backdrop-filter: blur(0px);
        box-shadow: none;
        min-width: none;
        max-width: none;
        width: 100vw;
        margin: 0;
        flex-direction: row;        
    }
    .slider .categorias .capa{
        height: 100%;
        width: 50%;
    }
    .slider .categorias .texto {
        margin-left: 30px;
    }
    .slider .categorias .texto p{
        font-size: 1.5rem;
    }
    .mais{
        display: none;
    }

    #servico .nos{
        height: auto;
    }
    #servico .nos div:first-child{
        display: none;
    }
    #servico .nos div:last-child{
        width: 90%;
        background-color: transparent;
        color: white;
        box-shadow: none;
    }
    #servico .nos div:last-child h1{
        color: white;
    }
    #servico .nos div:last-child li{
        color: white;
    }
    #rodape .contato{
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    html{
        font-size: 12px;
    }

    #home{
        height: 70vh;
    }
    #home .texto p {
        margin-left: 0;
        font-size: 2rem;
    }
    .slider {
        height: 50%;
    }
    .slider .categorias .capa{
        width: 100%;
    }
    .slider .categorias .capa img{
        border-radius: 30px;
    }
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
